@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light only;
  -webkit-color-scheme: light;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(135deg, #faf9f6 0%, #ffffff 100%);
  color-scheme: light only;
  -webkit-color-scheme: light;
}
